<IfModule mod_php5.c>
    php_flag engine off
</IfModule>

# <Files .htaccess>
# order allow,deny
# deny from all
# </Files>

<FilesMatch "\.(htaccess|tpl|txt)$">
    order allow,deny
    deny from all
</FilesMatch>

Options -Indexes
Options -MultiViews
AddDefaultCharset UTF-8
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?active=$1 [QSA,L]

RewriteEngine On
RewriteCond %{REQUEST_URI} ^/uploaded [NC]
RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|gif|png|bmp|tiff|svg|pdf|mov|mpeg|mp4|avi|mpg|wma|flv|webm|ico)$ [NC]
RewriteRule .* - [F,L]
